<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Журналисты</title>
</head>
<body bgcolor="6600CC" th:align="center">
<h1>Журналисты</h1>
    <div th:align="center" th:each="el : ${jornalisti}">
        <h3 th:text="${'Имя: '+el.name}"></h3>
        <h3 th:text="${'Фамилия: '+el.fam}"></h3>
        <h4 th:text="${'Оклад: '+el.cena}"></h4>
        <h4 th:text="${'Изданных статей: '+el.kolvastat}"></h4>
        <h4 th:text="${'Дата рождения: '+el.denroj}"></h4>
        <button><a th:href=" '/jornalisti/' + ${el.id}">Подробнее</a></button>
    </div>



<button>
    <a href="/jornalisti/filter">Поиск журналистов</a>
</button>
<button>
    <a href="/jornalisti/add">Добавить журналиста</a>
</button>
<br>
<button>
    <a onclick="javascript:history.back(-2); return false;">Назад</a>
</button>
</body>
</html>
<style>
    div{
        margin-top: 25px;
        border-style: dashed;
        /*width: 300px;*/
        /*background-color: #9900FF;*/
    }
    html *{
        font-family: Arial !important;
    }
    a{
        text-decoration: none;
    }
    button{
        font-size: 25px;
        width: 220px;
        height: 65px;
        margin-top: 20px;
        background-color: blueviolet;
        border-radius: 15px;
        margin-bottom: 25px;
    }
</style>